[Unit]
Description=Lightweight Kubernetes
Documention=https://k3s.io
After=network.target

[Service]
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
{% if k3s_controller %}
ExecStart=/usr/local/bin/k3s server --disable-agent
{% else %}
ExecStart=/usr/local/bin/k3s agent --server {{ k3s_server_addr }} --token-file /etc/k3s/cluster-token
{% endif %}
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target
