{% let status_class -%}
{% if health == "healthy" -%}
{% let status_class = "has-text-success" -%}
{% else -%}
{% let status_class = "has-text-danger" -%}
{% endif -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bulma.min.css">
    <title>Echo Server</title>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h2 class="title">Hello from {{ hostname }}</h3>
      <p class="subtitle">Server is <span class="{{ status_class }}">{{ health }}</span></p>
      <p>
        <form action="/fail" method="post">
          <button class="button is-danger is-outlined" type="submit">Set to failed</button>
        </form>
      </p>
    </div>
  </section>
  </body>
</html>
